APP_ENV=dev
PORT=3030
COOKIE_SECRET=change_the_cookie_secret
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=change_to_super_secure_password
DB_HOST=localhost
DB_PORT=54322
DB_NAME=postgres
DB_SCHEMA=vendure
DB_USERNAME=vendure_user
DB_PASSWORD=change_to_super_secure_password

# Supabase
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=asdafeafa
